{% load static %}

<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        <span class="fw-bold">PyBazaar</span>, your trusted webshop for quality products.
                    </p>
                    <p>
                        We strive to provide a great shopping experience and serve customers with integrity and care.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Built With</h6>
                    <div class="footer-social d-flex flex-column row-gap-3">
                        <div>
                            <a href="https://www.djangoproject.com/"><img src="{% static 'images/logo-django.svg' %}" class="img-fluid"  alt="Django"/></a>
                        </div>
                        <div>
                            <a href="https://www.python.org/"><i class="fa-brands fa-python"></i></a>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"><i class="fa-brands fa-html5"></i></a>
                            <a href="https://sass-lang.com/"><i class="fa-brands fa-sass"></i></a>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><i class="fa-brands fa-js"></i></a>
                            <a href="https://www.paypal.com/"><i class="fa-brands fa-paypal"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i aria-hidden="true" class="fa fa-heart-o"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
