
{% load static %}

<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img alt="" src="{% static 'images/logo.png' %}"></a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right d-flex align-items-center ms-3">
                        <li class="nav-item">
                            <a class="cart" href="{% url 'products' %}" style="position: relative;">
                                <span class="ti-bag cart-badge" value="2"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="login" href="{% url 'login' %}">
                                <span class="lnr lnr-user"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>
