{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'images/fav.png' %}">
    <title>{% block title %}{% endblock %}</title>
    {% render_bundle 'main' %}
</head>
<body>
    {% include 'base/header.html'%}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
            <h1>{% block banner_title %}{% endblock %}</h1>
            </div>
        </div>
        </div>
    </section>
    <!-- End Banner Area -->

    {% block content %}{% endblock %}

    {% include 'base/footer.html'%}
</body>
</html>
